/* CSS RESET */
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f8f9;

    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Signika Negative', sans-serif;
}

/* HEADER */
.header {
    height: 80px;
    line-height: 70px;
    padding-left: 15px;
    background-color: #ffffff;
    font-size: 1.7rem;
}

.logo {
    height: 50px;
    vertical-align: middle;
}

.header-title {
    display: inline-block;
    line-height: 1.5;
    vertical-align: middle;
}

/* MAIN */
.container {
    padding: 0 45px;
    width: 60%;
    background-color: #ffffff;
}

/* new task */
#new-task {
    margin-top: 40px;
    margin-bottom: 2px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    padding-top: 15px;
    padding-bottom: 8px;
}

.new-task-item {
    border: 1px solid #e8ebec;
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 0.8rem;
}

.new-task-button {
    background-color: #46acf0;
    color: #ffffff;
}

.new-task-text {
    color: #4a4c4d;
}

/* task recap */
#task-recap {
    border-radius: 2px;

    padding-top: 1px;
    padding-bottom: 30px;
}

.task-recap-title {
    margin-top: 25px;
    font-size: 1.6rem;
}

.harrow-down {
    font-size: 0.8rem;
}

/* liste */
.task-recap-list {
    list-style: none;
    font-size: 1.2rem;
}

.task-item {
    margin-top: 8px;
}

.task-check {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    font-size: 0.7rem;
    text-align: center;
}

.check-green {
    border: 1px solid green;
    color: green;
}

.check-red {
    border: 1px solid red;
    color: red;
}
 
/* task categories */
.task-category {
    display: inline-block;
    padding: 4px 7px;
    border-radius: 10px;
    font-size: 0.8rem;
    color: #ffffff;
}

.editorial {
    background-color: #44aaea;
}

.editorial::after {
    content: "Editorial";
}

.q1-goals {
    background-color: #9c72e4;
}

.reruiting {
    background-color: #62bfa8;
}

.mobile {
    background-color: #f19d31;
}

.website {
    background-color: #d862a0;
}

.sales {
    background-color: #aec724;
}